<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>Morning</td> <td> <a href="http://www.datacarpentry.org/organization-genomics/">Project management and data organization</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://tmogrady.github.io/shell-genomics-2018-01-29-maxplanck/">Introduction to the command line</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://liz-is.github.io/R-genomics/">Introduction to R for data analysis and visualisation</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://liz-is.github.io/R-genomics/">Continuing with R for data analysis and visualisation</a></td></tr>
      <tr><td> </td><td><a href="https://tmogrady.github.io/bioconductor-2018-01-29-maxplanck/">Introduction to Bioconductor</a></td></tr>
    </table>
  </div>
</div>
