<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Writing scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference/">Reference...</a></li>
    </ul>
  </div>
  
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with data frames</li>
      <li>Importing data</li>
      <li>Calculating summary statistics</li>
      <li>Plotting data using the ggplot2 package</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference/">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-org">Project organisation and data management</h3>
    <ul>
      <li>How to collect and structure metadata about a sequencing experiment</li>
      <li>How to organise sequencing data</li>
      <li>Working with public data from NCBI SRA</li>
      <li><a href="">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-bioc">Introduction to Bioconductor</h3>
    <ul>
      <li></li>
      <li><a href="">Reference...</a></li>
    </ul>
  </div>
</div>
